:root {
	box-sizing: border-box;
	font-size: 0.625rem;
	/* this is 10px of the browser default 16px */
	--nitro-blue: #5bacc3;
	--nitro-pink: #fff0ed;
	--graphite: #393939;
	--light-grey: #f7f7f7;
}

html,
body,
div,
nav,
ul,
li,
header,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	border: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

body {
	font-family: "Open Sans";
	font-weight: 400;
	color: var(--graphite);
}

ol,
ul {
	list-style: none;
}

h1,
.heading-alpha,
.heading-beta,
h2 {
	/* font-size: 60px; */
	font-size: 6rem;
	font-weight: 300;
}

h3,
.heading-gamma {
	/* font-size: 33px; */
	font-size: 3.3rem;
	font-weight: 300;
}
p,
.font-size__alpha {
	/* font-size: 18px; */
	font-size: 1.8rem;
	font-weight: 400;
}
li,
.font-size__beta {
	/* font-size: 21px; */
	font-size: 2.1rem;
	font-weight: 400;
}

.navigation {
	background-color: var(--nitro-pink);
	color: var(--graphite);
	padding: 2rem;
}
.main-nav {
	display: flex;
	align-items: center;
	width: 100%;
}

.main-nav__logo {
	min-width: 5rem;
	max-width: 12rem;
}
.manin-nav__heading {
	font-size: 6rem;
	font-weight: 300;
}
.main-nav__list {
	display: flex;
}
.main-nav__list-item {
	justify-content: center;
	height: 100%;
	margin: auto;
	padding-left: 2rem;
}
.main-nav__link {
	color: var(--graphite);
}

.main-nav__link--active {
	color: var(--nitro-blue);
}

.section {
	display: flex;
	justify-content: center;
}

.footer {
	display: flex;
	justify-content: center;
}

.footer__heading {
}

.footer__text {
}
