
:root {
  --nitro-blue: #5BACC3;
  --nitro-pink: #FFF0ED;
  --graphite: #393939;
  --light-grey: #F7F7F7;
}

html, body, div, nav, ul, li, header, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  /* font: inherit; */
  vertical-align: baseline;
  margin-block-start: 0;
  margin-block-end: 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  color: var(--graphite);
  /* font-size: 16px; */
  /* font-size: 62.5%;  */
  /* this is 10px of the browser default 16px */
}

ol, ul {
  list-style: none;
  display: flex;
}

h1, h2 {
  /* font-size: 6rem; */
  font-size: 60px;
  font-weight: 300;
}

h3 {
  /* font-size: 3.3rem; */
  font-size: 33px;
  font-weight: 300;
}

li {
  /* font-size: 2.1rem; */
  font-size: 21px;
  font-weight: 400;
}

p {
  /* font-size: 1.8rem; */
  font-size: 18px;
  font-weight: 400;
}

header {
  background-color: var(--nitro-pink);
  color:  var(--graphite);
  padding: 20px;
}

header ul>li {
  justify-content: center;
  height: 100%;
  margin: auto;
  padding-left: 20px;
}

header li>a {
  color: var(--graphite);
}

header img {
  min-width: 50px;
  max-width: 120px;
}

header h1 {
  padding: 0;
  margin: 0;
}

nav{
  display: flex;
  align-items: center;
  width: 100%;
}

.active-nav {
  color: var(--nitro-blue);
}

section:not(.menu-feature) {
  padding: 20px;
}

section > p {
  max-width: 450px;
  font-style: italic;
  margin: auto;
}

section > h3 {
  /* padding: 0; */
  margin: 0;
  padding: 20px;
}


.centered {
  width: 100%;
  text-align: center;
}

.highlight {
  color: var(--nitro-blue);
}
