.container {
	padding: 4rem 20rem;
	width: 120rem;
}

.hero {
	background-color: var(--nitro-pink);
	margin: 0 auto;
}

.hero .container {
	display: flex;
	flex: row;
	justify-content: space-between;
}

.hero-section-left {
	text-align: left;
	width: 40rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-section-left > * {
	margin: 2rem 0;
}

.hero-section-image {
	min-height: 10rem;
	max-height: 60rem;
	width: fit-content;
	padding-left: 5em;
}

.products {
	background-color: var(--light-grey);
	text-align: center;
	justify-content: center;
}

.products-container > * {
	margin-bottom: 4rem;
}

.cards {
	display: flex;
	justify-content: space-between;
  padding-bottom: 4rem;
  /* flex-flow: wrap; */
}

.card {
	background-color: white;
	min-width: 33rem;
	max-width: 35rem;
	min-height: 44rem;
	max-height: 46rem;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 0.9rem -0.1rem rgba(0, 0, 0, 0.25);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: end;
	transition-duration: 0.2s;
}

.card:hover {
	transform: scale(1.1);
}

.card__image {
	min-height: 24rem;
	max-height: 55rem;
	width: fit-content;
	margin: 0 auto;
	padding: 2rem 0;
}

.card__price {
	font-size: 3.3rem;
	color: var(--nitro-blue);
	padding: 2rem 0;
}

.discount-banner__text {
	max-width: 90vw;
	padding: 4rem;
	text-align: center;
	font-size: 4.5rem;
	font-weight: 400;
	font-style: normal;
	background-color: var(--graphite);
	color: white;
	margin: 20rem 0;
}

.btn__link {
	color: white;
  display: inline-block;
	/* min-width: 18rem;
	max-width: 80%; */
  width: fit-content;
  text-align: center;
	padding: 2rem 6rem;
	border: none;
	background-color: var(--nitro-blue);
	transition-duration: 0.4s;
	border-radius: 0.5rem;
	box-shadow: 0px 8px 15px
		rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	text-decoration: none;
  margin-block-end: 4rem;
}

.btn__link:hover {
	color: var(--nitro-blue);
	background-color: var(--light-grey);
	border-radius: 0.5rem;
	box-shadow: 0px 15px 20px
		var(--nitro-blue);
	transform: translateY(-7px);
}

.footer {
	background-color: var(--nitro-pink);
	text-align: left;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.footer > .container {
	display: flex;
	justify-content: space-between;
}
.footer__heading {
	font-size: 3.3rem;
	font-weight: 300;
	padding: 0 0 2rem 0;
}

.footer__text {
	font-size: 1.8rem;
	font-weight: 400;
}
