.menu-feature {
	background-image: url("../assets/images/coffee-circle.jpg");
	background-size: cover;
	background-position: center;
	min-width: 100%;
	max-width: 100%;
	min-height: 57.5rem;
	max-height: 60rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-feature__heading {
	min-width: 2.8rem;
	max-width: 30rem;
	min-height: 18rem;
	max-height: 20rem;
	color: white;
	background-color: var(--graphite);
	text-align: center;
	margin: 0 auto;
}

.menu-feature__list {
	background-color: var(--graphite);
	min-width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.menu-feature__link {
	color: white;
	font-size: 2.1rem;
	font-weight: 400;
}
.menu-feature__item {
	margin: 2rem;
	padding-left: 2rem;
	border-left: 0.4rem solid
		var(--nitro-blue);
}

.container {
	max-width: 50rem;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.menu-items__bg1 {
	background-color: var(--nitro-pink);
}
.menu-items__bg2 {
	background-color: var(--light-grey);
}

.menu-items__heading {
	margin-bottom: 4rem;
}

.menu-item__heading {
	margin-bottom: 1rem;
}

.menu-item__text {
	margin-bottom: 1rem;
}

.menu-item__price {
	color: var(--nitro-blue);
	font-style: italic;
	margin-bottom: 2rem;
}
