$nitro-blue: #5bacc3;
$nitro-pink: #fff0ed;
$graphite: #393939;
$light-grey: #f7f7f7;

$nav-height: 8rem;
$footer-height: 18rem;

// .column-container {
// 	max-width: 110rem;
// 	margin: 0 auto;
// }
